<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <!-- declare the validator to be used by the diagrams generator plugin for this diagram -->
   <extension
         point="ac.soton.eventb.emf.diagrams.validator">
      <validator
            editorClass="ac.soton.eventb.classdiagrams.diagram.part.ClassdiagramsDiagramEditor"
            name="Classdiagram diagram validator"
            validatorClass="ac.soton.eventb.classdiagrams.generator.validator.Validator">
      </validator>
   </extension>

	<!-- declare the handler to be used for this diagram type -->
   <extension
         point="org.eclipse.ui.handlers"> 
      <handler
            class="ac.soton.eventb.emf.diagrams.generator.handlers.IUMLBTranslateHandler"
            commandId="ac.soton.eventb.emf.diagrams.generator.translateToEventB">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="ac.soton.eventb.classdiagrams.diagram.part.ClassdiagramsDiagramEditor">
               </instanceof>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="ac.soton.eventb.classdiagrams.diagram.part.ClassdiagramsDiagramEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   
   <!-- declare the translator and its rule set -->
   <extension
         point="ac.soton.emf.translators">
      <translator
            adapter_class="ac.soton.emf.translator.eventb.adapter.EventBTranslatorAdapter"
            command_id="ac.soton.eventb.emf.diagrams.generator.translateToEventB"
            name="Class Diagram Generator"
            root_source_class="Classdiagram"
            source_package="http://soton.ac.uk/models/eventb/classdiagrams/2015"
            translator_id="ac.soton.eventb.classdiagram.generator">
      </translator>
   </extension>
   
   <extension
         point="ac.soton.emf.translator.rulesets">
      <ruleset
            name="iUML-B Class Diagram generator rules"
            translator_id="ac.soton.eventb.classdiagram.generator">
         <rule
               name="ClassRule"
               rule_class="ac.soton.eventb.classdiagrams.generator.rules.ClassRule"
               source_class="Class">
         </rule>
         <rule
               name="ClassAttributeRule"
               rule_class="ac.soton.eventb.classdiagrams.generator.rules.ClassAttributeRule"
               source_class="ClassAttribute">
         </rule>
         <rule
               name="AssociationRule"
               rule_class="ac.soton.eventb.classdiagrams.generator.rules.AssociationRule"
               source_class="Association">
         </rule>
         <rule
               name="ClassConstraintRule"
               rule_class="ac.soton.eventb.classdiagrams.generator.rules.ClassConstraintRule"
               source_class="ClassConstraint">
         </rule>
         <rule
               name="ClassMethodRule"
               rule_class="ac.soton.eventb.classdiagrams.generator.rules.ClassMethodRule"
               source_class="ClassMethod">
         </rule>
         <rule
               name="AssociationFixedInitialisationRule"
               rule_class="ac.soton.eventb.classdiagrams.generator.rules.FixedIntialisationRule"
               source_class="Association">
         </rule>
         <rule
               name="ClassAttributeFixedInitialisationRule"
               rule_class="ac.soton.eventb.classdiagrams.generator.rules.FixedIntialisationRule"
               source_class="ClassAttribute">
         </rule>
         <rule
               name="ClassMethodConstructorRule"
               rule_class="ac.soton.eventb.classdiagrams.generator.rules.ClassMethodConstructorRule"
               source_class="ClassMethod">
         </rule>
         <rule
               name="ClassMethodDestructorRule"
               rule_class="ac.soton.eventb.classdiagrams.generator.rules.ClassMethodDestructorRule"
               source_class="ClassMethod">
         </rule>
      </ruleset>
   </extension>
   
</plugin>
